<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
      <add key="ConfigsPath" value="E:\Users\thr00t\Documenti\workspaces\unife\CityScover\CityScover.Configurations"/>
    </appSettings>
</configuration>
